body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3rem;
  color: #222;
}
